<footer class="container-fluid">
  <p class="text-right small">Repositorio Digital de la Unidad de Patrimonio Cultural de la Salud<br>
  Subsecretaria de Salud Pública<br>
  Ministerio de Salud </p>
</footer
